<div id="header" class="ui vertical masthead center aligned">
  <div class="ui text container">
    <h1 class="ui header">
      Mythictool
    </h1><br>
  </div>
</div>
<div class="ui two column doubling stackable grid container">
  {{outlet}}
</div>